<h2>{{titulo}}</h2>

<form class="m-t-10" [formGroup]="form">
    <div class="form-group">
      <label>Nome:</label>
      <input formControlName="name"  class="form-control">
      <label class="error" *ngIf="form.controls.name.errors && form.controls.name.touched" >Nome é obrigatório</label>
    </div>
    <div class="form-group">
      <label >Preço</label>
      <input formControlName="price"  currencyMask  class="form-control" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
      <label *ngIf="form.controls.price.errors && form.controls.price.touched" class="error">Preço é obrigatório</label>
    </div>
    <div class="form-group">
        <label >Quantidade</label>
        <input formControlName="qtd" type="number" class="form-control" >
        <label class="error" *ngIf="form.controls.qtd.errors && form.controls.name.touched">Quantidade é obrigatória</label>
    </div>
    <button type="submit" (click)="save()" class="btn btn-new">Salvar</button>
    <button type="button" [routerLink]="'/products'" class="btn btn-default">Cancelar</button>
</form>